@use "variables";
@use "mixins";

#ageBarChart {
  background: transparent;
  width: 100%;
  height: 100%;
  height: 370px !important;
  position: relative;
  overflow: visible !important;
}

.stat {
  &__ageChart {
    @include mixins.card-style;
  }
}

.ageChart {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    @include mixins.card-title;
  }
}

.apexcharts-title-text {
}

.chart-legend {
  display: flex;
  align-items: center;
  gap: 20px;
  color: variables.$text-primary !important;
  font-family: variables.$font-family !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}
.legend-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 7px;
  vertical-align: middle;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s;
}
.legend-dot.male {
  background: #5c6fa6;
}
.legend-dot.female {
  background: #ffcc88;
}

.legend-span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.legend-dot.inactive {
  opacity: 0.4;
}
.legend-dot.male {
  background: #5c6fa6;
}
.legend-dot.female {
  background: #ffcc88;
}
