@use "./variables";

.container {
  width: 100%;
  max-width: variables.$container-max-width;
}

.stat {
  &__container {
    display: flex;
    gap: 12px;
    width: 100%;
  }
  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__left {
    width: 75%;
  }

  &__right {
    width: 25%;
  }
}
