// COLORS

// neutral colors
$white: #fff;
$gray-map: #ccc;
$yellow-map: #f8bd7a;

// text colors
$text-primary: #1f2937;
$text-secondary1: #374151;
$text-secondary2: #6a7d9c;

// TYPOGRAPHY

// font family
$font-family: Montserrat, sans-serif;

// font size
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;

// font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// Container
$container-max-width: 1400px;
$container-padding: 24px;
